# Entorno virtual y paquetes
venv/
env/
.venv/

# Bytecode de Python
*.py[cod]
*.pyc
*.pyo
__pycache__/
*/__pycache__/

# Base de datos
db.sqlite3
db.sqlite3-journal

# Archivos de configuración 
local_settings.py
.env

# Archivos de log
*.log

# Archivos de editor
.vscode/

